@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    font-family: 'Raleway', sans-serif;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.no_scroll {
    overflow: hidden;
}

.ui-resizeable-handle, .ui-resizeable-n, .ui-resizeable-e, .ui-resizeable-s, .ui-resizeable-w, .ui-resizeable-se, .ui-resizeable-sw, .ui-resizeable-ne, .ui-resizeable-nw {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
} 

.ui-corner-all {
    border-radius: none;
}

body {
    margin: 0;
}

h1 {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 0;    
}

main {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    background: 
    -webkit-gradient(
      linear, 
      left top, left bottom, 
      from(rgba(22, 22, 22, 0.4)), 
      to(rgba(22, 22, 22, 0.4))
    ),
    url(../images/bgkomprimerad.jpg);
    background: 
    -webkit-linear-gradient(
      rgba(22, 22, 22, 0.4), 
      rgba(22, 22, 22, 0.4)
    ),
    url(../images/bgkomprimerad.jpg);
    background: 
    -o-linear-gradient(
      rgba(22, 22, 22, 0.4), 
      rgba(22, 22, 22, 0.4)
    ),
    url(../images/bgkomprimerad.jpg);
    background: 
    linear-gradient(
      rgba(22, 22, 22, 0.4), 
      rgba(22, 22, 22, 0.4)
    ),
    url(../images/bgkomprimerad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    overflow: hidden;
}

.header_wrap {
    max-width: 95%;
    margin: 0 auto;
}

div.ui-dialog-titlebar.ui-widget-header {
    background: 
    -webkit-gradient(
      linear, 
      left top, left bottom, 
      color-stop(70%, rgba(22, 22, 22, 0.5)), 
      to(rgba(22, 22, 22, 0))
    );
    background: 
    -webkit-linear-gradient(
      rgba(22, 22, 22, 0.5) 70%, 
      rgba(22, 22, 22, 0)
    );
    background: 
    -o-linear-gradient(
      rgba(22, 22, 22, 0.5) 70%, 
      rgba(22, 22, 22, 0)
    );
    background: 
    linear-gradient(
      rgba(22, 22, 22, 0.5) 70%, 
      rgba(22, 22, 22, 0)
    );
    border: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    height: 4rem;
    width: 100%;
    border-radius: 0;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.modal.ui-resizable {
    width: auto;
    position: fixed;
    left: 50%;
    top: 50%;
}

.ui-widget-overlay {
    background-color: #000000;
    opacity: .5;      
}

div.ui-widget.ui-widget-content {
    border: none;
}

.ui-dialog {
    padding: 0;
    border-radius: 0;
}

div#dialog.ui-dialog-content.ui-widget-content {
    padding: 0;
    border-radius: 0;
    position: absolute;
    margin-bottom: 0;
    top: 0px;
    z-index: -1;
}

.ui-widget-content {
    background-color: transparent!important;
    z-index: 500;
}

div.modal {
    position: absolute;
    z-index: 500;
    -ms-flex-line-pack: center;
        align-content: center;
}

div.modal_content{
    height: auto;
    max-height: 80vh;
    width: 90vw;
    overflow: hidden;
}

div.modal_content img {
    min-width: 100%;
    min-height: 100%;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 1em;
    right: .5em;
}

.ui-dialog-title {
    font-size: 1rem;
}

.row, .row_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

main > .row_images {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

main > #imageResults {
    margin: 0 auto;
    max-width: 95%;
}

.col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin: 1%;
    padding-right: 15px;
    padding-left: 15px;
}

.float_class {
    float: left;
    position: relative;
    width: 31.6%;
    padding-bottom: 31.3%;
    margin: 0.83%;
    overflow: hidden;	
}

.col::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.img_container {
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.img_container img {
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

.float_img_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.float_img_container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

form.form_search {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    margin-bottom: 1.5rem;
    text-align: right;
}

form.form_search input {
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: .2rem;
    padding: 1rem;
    margin-bottom: .5rem;
}

button {
    text-align: center;
    border: none;
    width: 6rem;
    font-size: 1rem;
    border-radius: .2rem;
    height: 2.5rem;
    background-color: rgb(8, 46, 71);
    color: white;
}

button#toggleFloat {
    width: 4rem;
    background-color: #7ec0cb;
}

@media screen and (min-width: 768px) {

    .header_wrap {
        max-width: 40rem;
    }

    main > #imageResults {
        max-width: 80%;
    }

	.col {
        max-width: 46%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        margin: 1rem 2%;
    }

    form.form_search {
        text-align: left;
    }

    form.form_search input{
        background-color: #ffffff;
        border: none;
        width: 70%;
        height: 2.5rem;
        font-size: 1rem;
        border-radius: .2rem;
        padding: 1rem;
    }

    div.modal_content {
        max-width: 70vw;
    }
}

@media screen and (min-width: 992px) {  

    .col {
        max-width: 31.3%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;

        margin: 1%;
    }

    div.modal_content {
        width: auto;
        height: 50vh;
        max-width: 90vw;
    }  
}